certifi==2021.10.8
charset-normalizer==2.0.10
decorator==4.4.2
idna==3.3
imageio==2.13.5
imageio-ffmpeg==0.4.5
moviepy==1.0.3
numpy==1.22.0
Pillow==9.0.0
proglog==0.1.9
python-dotenv==0.19.2
pytube==11.0.2
requests==2.27.1
tqdm==4.62.3
urllib3==1.26.8
